<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Consulta</title>
    <link rel="stylesheet" th:href="@{/consulta-form.css}">
</head>
<body>

<header class="navbar">
    <div class="logo">Consultório Aida Cavalcanti</div>
    <nav class="nav-links">
        <a th:href="@{/auxiliar/consultas}" class="nav-link">Consultas</a>
        <a th:href="@{/pacientes}" class="nav-link">Pacientes</a>
        <a th:href="@{/logout}" class="nav-link">Sair</a>
    </nav>
</header>

<main class="conteudo">
    <h1>Agendar Consulta</h1>
    <form method="post" action="/auxiliar/consultas" class="formulario">
        <label for="data">Data:</label>
        <input type="text" id="data" name="data" placeholder="dd/mm/aaaa">

        <label for="inicio">Horário Início:</label>
        <input type="text" id="inicio" name="horarioInicio" placeholder="hh:mm">

        <label for="inicio">Horário Término:</label>
        <input type="text" id="termino" name="horarioTermino" placeholder="hh:mm">

        <div class="campo">
            <label for="status">Status Pagamento:</label>
            <input type="text" id="status" name="statusPagamento">
        </div>

        <div class="campo">
            <label for="metodo">Método Pagamento:</label>
            <input type="text" id="metodo" name="metodoPagamento">
        </div>

        <div class="campo">
            <label for="paciente">Paciente:</label>
            <select id="paciente" name="idPaciente">
                <option value="">Selecione</option>
                <th:block th:each="paciente : ${pacientes}">
                    <option th:value="${paciente.id}" th:text="${paciente.nome}"></option>
                </th:block>
            </select>
        </div>

        <div class="campo">
            <label for="dentista">Dentista:</label>
            <select id="dentista" name="idDentista">
                <option value="">Selecione</option>
                <th:block th:each="dentista : ${dentistas}">
                    <option th:value="${dentista.id}" th:text="${dentista.nome}"></option>
                </th:block>
            </select>
        </div>

        <button type="submit" class="botao-submit">Agendar Consulta</button>
    </form>

    <a href="/auxiliar/consultas" class="botao-voltar">Voltar</a>
</main>

</body>
</html>
