<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form method="post" action="/login">
        <label>CPF:</label>
        <input type="text" name="cpf" required>
        <label>Email:</label>
        <input type="email" name="email" required>
        <button type="submit">Entrar</button>
    </form>

    <div th:if="${erro}">
        <p class="erro" th:text="${erro}"></p>
    </div>

    <p>Não possui uma conta? <a href="/cadastro">Cadastre-se</a></p>
</div>
</body>
</html>
